In [ ]:
#It is called naive because we assume that the features arae conditionally independent

In [ ]:
# p(R=yes | X= ..............)
# P(Hot | R=yes) * P(Normal | R=yes) * p(Sunny | R=yes) * p(False | R=yes) * p(yes)

In [ ]:
# p(x=xi | yes) = e_to the power(-.5*(((xi-mu)/sigma)**2))/(root(2*pi)*sigma)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/BDSET /Lab/Lab_6/Dataset_2_Bayes.xlsx')

In [ ]:
df.head()

  Climate Humidity Outlook  Windy Rainfall
0     Hot     High  Cloudy  False       No
1     Hot     High  Cloudy   True       No
2     Hot     High   Foggy  False      Yes
3    Mild     High   Sunny  False      Yes
4    Cool   Normal   Sunny  False      Yes

In [ ]:
np.unique(df['Climate'])

array(['Cool', 'Hot', 'Mild'], dtype=object)

In [ ]:
listL = [[],[]]
# listL[0].append('Cool_Yes')
# listL[0].append('Cool_No')
# listL[0].append('Hot_Yes')
# listL[0].append('Hot_No')
# listL[0].append('Mild_Yes')
# listL[0].append('Mild_No')

In [ ]:
print(listL)

[[], []]

In [ ]:
len(df.loc[(df['Climate']==i) & ( df['Rainfall']=='Yes')])/len(df.loc[df['Rainfall'] == 'Yes'])

0.4444444444444444

In [ ]:
p_Climate_Rainfall = np.zeros(20)

In [ ]:
for i in np.unique(df['Climate']):
 print(i)
 listL[1].append(df.loc[(df['Climate']==i) & ( df['Rainfall']=='Yes')].shape[0]/len(df.loc[df['Rainfall'] == 'Yes']))
 listL[1].append(df.loc[(df['Climate']==i) & ( df['Rainfall']=='No')].shape[0]/len(df.loc[df['Rainfall'] == 'No']))

Cool
Hot
Mild

In [ ]:
for i in df.columns[:-1]:
  print(np.unique(df[i]))

['Cool' 'Hot' 'Mild']
['High' 'Normal']
['Cloudy' 'Foggy' 'Sunny']
[False  True]

In [ ]:
df.columns

Index(['Climate', 'Humidity', 'Outlook', 'Windy', 'Rainfall'], dtype='object')

In [ ]:
df.columns[:-1]

Index(['Climate', 'Humidity', 'Outlook', 'Windy'], dtype='object')

In [ ]:
listL = [[],[]]
for k in df.columns[:-1]:
  for i in np.unique(df[k]):
    for j in np.unique(df['Rainfall']):
      listL[0].append(k+str(i)+j)
      listL[1].append(df.loc[(df[k]==i) & ( df['Rainfall']==j)].shape[0]/len(df.loc[df['Rainfall'] == j]))

In [ ]:
np.array(listL[1])

array([0.2       , 0.33333333, 0.4       , 0.22222222, 0.4       ,
       0.44444444, 0.8       , 0.33333333, 0.2       , 0.66666667,
       0.6       , 0.11111111, 0.        , 0.55555556, 0.4       ,
       0.33333333, 0.4       , 0.66666667, 0.6       , 0.33333333])

In [ ]:
len(listL[0])

20

In [ ]:
df1 = pd.DataFrame(np.array(listL[1]).reshape(1,20),columns=[listL[0]])
df1

,ClimateCoolNo,ClimateCoolYes,ClimateHotNo,ClimateHotYes,ClimateMildNo,ClimateMildYes,HumidityHighNo,HumidityHighYes,HumidityNormalNo,HumidityNormalYes,OutlookCloudyNo,OutlookCloudyYes,OutlookFoggyNo,OutlookFoggyYes,OutlookSunnyNo,OutlookSunnyYes,WindyFalseNo,WindyFalseYes,WindyTrueNo,WindyTrueYes
0,0.2,0.333333,0.4,0.222222,0.4,0.444444,0.8,0.333333,0.2,0.666667,0.6,0.111111,0.0,0.555556,0.4,0.333333,0.4,0.666667,0.6,0.333333

In [ ]:
prior_Yes = len(df.loc[df['Rainfall'] == 'Yes'])/len(df)
prior_No =  len(df.loc[df['Rainfall'] == 'No'])/len(df)

print(prior_Yes)
print(prior_No)

0.6428571428571429
0.35714285714285715

In [ ]:
print(df1['ClimateHotYes'])
print(df1['ClimateHotNo'])
print(df1['HumidityNormalYes'])
print(df1['HumidityNormalNo'])
print(df1['OutlookSunnyYes'])
print(df1['OutlookSunnyNo'])
print(df1['WindyFalseYes'])
print(df1['WindyFalseNo'])

print(np.array(df1['ClimateHotYes'])*np.array(df1['HumidityNormalYes'])*np.array(df1['OutlookSunnyYes'])*np.array(df1['WindyFalseYes'])*prior_Yes)
print(np.array(df1['ClimateHotNo'])*np.array(df1['HumidityNormalNo'])*np.array(df1['OutlookSunnyNo'])*np.array(df1['WindyFalseNo'])*prior_No)

  ClimateHotYes
0      0.222222
  ClimateHotNo
0          0.4
  HumidityNormalYes
0          0.666667
  HumidityNormalNo
0              0.2
  OutlookSunnyYes
0        0.333333
  OutlookSunnyNo
0            0.4
  WindyFalseYes
0      0.666667
  WindyFalseNo
0          0.4
[[0.02116402]]
[[0.00457143]]

In [ ]:
listL = [[],[]]
for i in np.unique(df['Climate']):
  for j in np.unique(df['Rainfall']):
    listL[0].append(i+j)
    listL[1].append(df.loc[(df['Climate']==i) & ( df['Rainfall']==j)].shape[0]/len(df.loc[df['Rainfall'] == j]))

In [ ]:
listL

[['CoolNo', 'CoolYes', 'HotNo', 'HotYes', 'MildNo', 'MildYes'],
 [0.2, 0.3333333333333333, 0.4, 0.2222222222222222, 0.4, 0.4444444444444444]]

0.6428571428571429
0.35714285714285715

In [ ]:
ListH = [[],[]]
for i in np.unique(df['Humidity']):
  for j in np.unique(df['Rainfall']):
    listL[0].append(i+j)
    listL[1].append(df.loc[(df['Climate']==i) & ( df['Rainfall']==j)].shape[0]/len(df.loc[df['Rainfall'] == j]))

In [ ]:
df1

[['CoolNo', 'CoolYes', 'HotNo', 'HotYes', 'MildNo', 'MildYes'],
 [0.2, 0.3333333333333333, 0.4, 0.2222222222222222, 0.4, 0.4444444444444444]]

In [ ]:
i + 'Yes'

'MildYes'

In [ ]:
for i in np.unique(df['Climate']):
 print(i + 'Yes')

CoolYes
HotYes
MildYes

In [ ]:
len(df.loc[df['Rainfall'] == 'No'])

5

In [ ]:
len(df.loc[df['Rainfall'] == 'Yes'])

9

In [ ]:
p_HotYes = df.loc[(df['Climate']=='Hot') & ( df['Rainfall']=='Yes')].shape[0]
p_HotNo = df.loc[(df['Climate']=='Hot') & ( df['Rainfall']=='No')].shape[0]
p_MildYes = df.loc[(df['Climate']=='Mild') & ( df['Rainfall']=='Yes')].shape[0]
p_MildNo = df.loc[(df['Climate']=='Mild') & ( df['Rainfall']=='No')].shape[0]

print(p_HotYes)
print(p_HotNo)
print(p_MildYes)
print(p_MildNo)

2
2
4
2

In [ ]:
 df.loc[(df['Climate']=='Mild') & ( df['Rainfall']=='No')]

  Climate Humidity Outlook  Windy Rainfall
7    Mild     High   Sunny   True       No
8    Mild     High  Cloudy  False       No

In [ ]:
for i in

In [ ]:
p_HotNo = df.loc[(df['Climate']=='Hot') & ( df['Rainfall']=='No')].shape[0]