#Task 1

In [ ]:
x = int(input("press the number of km traveled "))
if x<=12:
    print("fare: 100")
elif x>12 and x<=16:
  print("fare", 100 + (x-12)*8)
elif x<16 and x>=20:
  print("fare:", 100 + 32 + (x-16)*6)
elif x>20:
  print("fare", 100+32+24+(x-20)*5)

press the number of km traveled 5
fare: 100

#Task 2

In [ ]:
M_earth = 5.972 * 10 ** 24
R_earth = 6361 * 1000
M_moon = 7.35 * 10 ** 22
R_moon = 1737 * 1000
G = 6.67408 * 10 ** (-11)

print("g of earth:", G * M_earth / R_earth ** 2 )
print("g of moon:", G * M_moon / R_moon ** 2 )

g of earth: 9.850548553554304
g of moon: 1.6258448896962678

#Task 3

In [ ]:
a = 1
r = -1/3
n = int(input("type the value of n "))

print("sum of the series: ", a*(1-r**n)/(1-r))

type the value of n 3
sum of the series:  0.7777777777777778

#Task 4

In [ ]:
x = str(input("Enter the number "))
x_len = len(x)
chk_armstrong = 0
for i in range(x_len):
  chk_armstrong += int(x[i]) ** x_len

if int(x) == chk_armstrong:
  print(x, "is an armstrong number")
else:
  print(x, "is not an armstrong number")
#print(chk_armstrong)

Enter the number 1634
1634 is an armstrong number

#Task 5

In [ ]:
n = int(input("Enter the number of digit "))
x = 10 ** (n-1)
chk = 0
while chk < 10:
  x1 = x 
  digit_sum = 0
  while x1 != 0:
    digit_sum += int(x1 % 10)
    x1 /= 10
  if x % digit_sum == 0:
    print(x)
    chk += 1
  x += 1

Enter the number of digit 3
100
102
108
110
111
112
114
117
120
126

In [ ]:
# x1 = 123667
# digit_sum = 0
# while x1 != 0:
#     digit_sum += int(x1 % 10)
#     x1 /= 10

# digit_sum

#Task 6

In [ ]:
x = input("Write a string/number ")
x_rev = str(x[::-1])

if x == x_rev:
  print(x, "is a palindrome")
else:
  print(x, "is not a palindrome")

Write a string/number 1234321
1234321 is a palindrome

#Task 7

In [ ]:
alpha = 0.306
Ts = 6.96 * 10 ** 8
Rs = 6.96 * 10 ** 8
D = 1.496 * 10 ** 11
sigma = 1.2

Tp =  Ts * ((Rs * (((1-alpha)/sigma) ** 0.5) / (2 * D)) ** 0.5)
Tp

29273700.208881717

#Task 8

In [ ]:
n = int(input())